/*
 *  white       #fdf6e3
 *  black       #002b36
 *  text        #657b83
 *  dark_text   #586e75
 *  light_text  #93a1a1
 *  boxes       #eee8d5
 *
 *  yellow      #b58900
 *  orange      #cb4b16
 *  red         #dc322f
 *  magenta     #d33682
 *  violet      #6c71c4
 *  blue        #268bd2
 *  cyan        #2aa198
 *  green       #859900
 *
 */

@import url(http://fonts.googleapis.com/css?family=Convergence|Inconsolata:400,700|Gentium+Book+Basic:700);

body {
  background-color: #002b36;
  font-family: 'Convergence';
}

#preso, .slide {
  background-color: #fdf6e3;
  color: #657b83;

  -webkit-border-radius: 5px;
          border-radius: 5px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/* .splash { */
/*   position: absolute; */
/*   width: 1024px; */
/*   height: 768px; */
/*   background-color: #268BD2; */
/*   top: 0; */
/*   left: 0; */
/*   z-index: -1; */
/*  */
/*   -webkit-border-radius: 5px; */
/*           border-radius: 5px; */
/*  */
/*   -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; */
/* } */

.content .box {
  background-color: #eee8d5;
  color: #586e75;
  margin: 50px;
  padding: 20px;

  -webkit-box-shadow: 5px 5px 5px 0px #586e75;
          box-shadow: 5px 5px 5px 0px #586e75;

  -webkit-border-radius: 5px;
          border-radius: 5px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #586e75;
  font-family: 'Gentium Book Basic';
}

h1 { color: #cb4b16; }

h6 {
  color: #268bd2;
  font-size: 5em;
  text-align: center;
  margin: 0.5em 0;
}

#footer {
  background-color: #eee8d5;
  color: #586e75;
  display: none;
}

pre.sh_sourceCode {
  background-color: #002b36;
  color: #839496;
  font-family: 'Inconsolata';


  -webkit-box-shadow: 5px 5px 5px 0px #586e75;
          box-shadow: 5px 5px 5px 0px #586e75;

  -webkit-border-radius: 5px;
          border-radius: 5px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

pre.sh_sourceCode .sh_keyword { color: #268bd2; }
pre.sh_sourceCode .sh_type { color: #859900; }
pre.sh_sourceCode .sh_string { color: #2aa198; }
pre.sh_sourceCode .sh_regexp { color: #cb4b16; }
pre.sh_sourceCode .sh_comment { color: #586e75; }
pre.sh_sourceCode .sh_number { color: #6c71c4; }
pre.sh_sourceCode .sh_cbracket { color: #dc322f; }
pre.sh_sourceCode .sh_symbol { color: #dc322f; }
