/*
 *  white       #fdf6e3
 *  black       #002b36
 *  text        #657b83
 *  dark_text   #586e75
 *  light_text  #93a1a1
 *  boxes       #eee8d5
 *
 *  yellow      #b58900
 *  orange      #cb4b16
 *  red         #dc322f
 *  magenta     #d33682
 *  violet      #6c71c4
 *  blue        #268bd2
 *  cyan        #2aa198
 *  green       #859900
 *
 */

body {
  background-color: #002b36;
}

.slide {
  background-color: #fdf6e3;
  color: #657b83;
}

.content .box {
  background-color: #eee8d5;
  color: #586e75;
  margin: 50px;
}

.content h1 {
  color: #859900;
}

.content h2 {
  color: #586e75;
}

#footer {
  background-color: #eee8d5;
  color: #586e75;
}

pre.sh_sourceCode {
  background-color: #002b36;
  color: #839496;
}

pre.sh_sourceCode .sh_keyword { color: #268bd2; }
pre.sh_sourceCode .sh_type { color: #859900; }
pre.sh_sourceCode .sh_string { color: #2aa198; }
pre.sh_sourceCode .sh_regexp { color: #cb4b16; }
pre.sh_sourceCode .sh_comment { color: #586e75; }
pre.sh_sourceCode .sh_number { color: #6c71c4; }
pre.sh_sourceCode .sh_cbracket { color: #dc322f; }
pre.sh_sourceCode .sh_symbol { color: #dc322f; }
